#install-banner {
	display: none;
	position: fixed;
	top: 10vh;
	left: 10vw;

	border: max(1vw, 1vh) #000 solid;
	border-radius: max(10vw, 10vh);
	width: calc(80vw - 2 * max(4vw, 4vh));

	background: #0f0;
	padding: max(3vw, 3vh);
	text-align: center;
	font-family: sans-serif;
	font-size: 3vw;
}

#install-invite {
	display: block;
}

#install-invite div {
	display: flex;
	justify-content: space-around;
}

#install-button,
#noinstall-button,
#closeinstall-button {
	border-radius: max(1vw, 1vh);
	width: 20vw;
	padding: max(1vw, 1vh);
	font-weight: bold;
	color: #fff;
}

#install-button {
	background: #00f;
}

#noinstall-button,
#closeinstall-button {
	background: #f00;
}

#install-instructions {
	display: none;
}