@font-face {
  font-family: "UbuntuSansMono";
  src: url("UbuntuSansMono.woff2");
}

body {
	margin: 0;
	padding: 0 calc(5vw - 15px);
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	font-family: "UbuntuSansMono", monospace;
}

.box {
	box-sizing: content-box;
	border: 4px solid black;
	border-radius: 15px;
	padding: 10px;
	width: 90vw;
}
#title {
	height: 30px;
	font-size: 24px;
	font-weight: bold;
	font-family: inherit;
}
#program-box {
	position: relative;
	height: 40vh;
	width: calc(90vw + 20px);
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
#line_marker {
	position: absolute;
	z-index: -1;
	top: 0;
	margin: 10px 0;
	height: 19px;
	width: 100vw;
	background: #cfc;
}
#line_numbers,
#program {
	display: block;
	box-sizing: content-box;
	margin: 0;
	padding: 10px;
	min-height: calc(40vh - 20px);
	overflow: hidden;
	background: transparent;
	font-size: 16px;
	font-family: inherit;
}
#line_numbers {
	float: left;
	border-right: 2px solid #000;
	width: 32px;
	text-align: right;
}
#program_scroller {
	width: calc(90vw - 34px);
	overflow-x: scroll;
}
#program {
	border: none;
	outline: none;
	resize: none;
	min-width: calc(90vw - 54px);
	overflow-x: scroll;
	overflow-y: hidden;
}
#debug {
	height: 48px;
	margin: 0;
	font-size: 16px;
	font-family: inherit;
}
.label {
	position: relative;
	left: 15px;
	font-weight: bold;
}

#options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#upload_input {
	display: none;
}
.button,
button {
	box-sizing: content-box;
	border: 4px solid black;
	border-radius: 15px;
	padding: 10px;
	height: 8vh;
	width: 25vw;
	background-color: #fff;
	text-align: center;
	line-height: 8vh;
	font-size: 24px;
	font-weight: bold;
	font-family: inherit
}
#upload {
	background-color: #f00;
}
#upload:hover {
	background-color: #c00;
}
#run {
	background-color: #0f0;
}
#run:hover {
	background-color: #0c0;
}
#save {
	background-color: #48f;
}
#save:hover {
	background-color: #36c;
}